#Area{
			text-align: left; /* Выравнивание по левому краю */
/*			width: 640px;  Ширина */
			background: #fff; /* Цвет фона */
				-moz-box-sizing: border-box; /* Для Firefox */
				-webkit-box-sizing: border-box; /* Для Safari и Chrome */
			box-sizing: border-box; /* Для IE и Opera */
			margin-left: 0px;
/*			height: 600px;*/
			border: 4px double black; /* Параметры границы */
			/*padding: 10px;  Поля вокруг текста */
			margin:0;
			padding:0;
/*			min-width: 630px;
			min-height: 590px;*/
			float: left;
		}